<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <%= image_tag(@post.image_url) if @post.image? %>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>


  <div class="field">
	<%= f.label :body %><br />
	<div id="widearea-container">
		<textarea placeholder="Type something..." data-widearea="enable"	<%= f.text_area :body %>

	</textarea>
	</div>
  </div>

<!-- Tags -->
<div class="field">
  <%= f.label "Tags" %><br />
  <%= f.text_field :tag_list %>
</div>

  <div class="field">
    <%= f.label "Status" %><br />
  	<%= collection_select(:post, :status_id, Status.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  wideArea();
</script>